blockquote {
  background: #fff5d9;
  border-left: 10px solid #ffebae;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
}

/* Hack para que las cursivas no se peguen tanto a las palabras que les siguen */
em::after {
  content: " ";
  word-spacing: 2px;
}
